@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/***************/
/* Project CSS */
/***************/

body {
  font-family: "Lato", sans-serif;
/*  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;*/
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 50.5rem;
  }
  .columns {
    position: relative;
    box-sizing: border-box;
    float: left;
    /*padding-left: 12px;*/
    padding-left: 0.83333rem;
    padding-right: 0.83333rem;
  }
  .columns:last-child {
    float: right;
  }
  .col2{ width:16%; }
  .col3{ width:25%; }
  .col4{ width:33%; }
  .col8{ width:67%; }
  .col9{ width:75%; }
  .col10{ width:84%; }
  .col12{ width: 100%; }

a {
  text-decoration: none;
  color: #FF6565;
  }
  a:hover {
    color: #F40A0A;
    text-decoration: underline;
  }

/* helpers */
.text-center {
  text-align: center;
}

.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }


header {
  border-bottom: 1px solid #ccc;
  background-color: #FF4D4D;
  color: #fafafa;
  font-weight: 200;
  }
  header h1,
  header ul{
    font-size: 24px;
    line-height: 24px;
    padding: 12px 0;
  }
  header h1{
    float: left;
    letter-spacing: 2px;
  }
  header h1 em {
    font-style: italic;
    color: #FFC6C6; 
    font-size: 12px;
    letter-spacing: 0;
  }
  header ul {
    float: right;
    list-style: none;
    letter-spacing: 1px;
  }
  header ul li {
    color: #9BE5E5;
    float: left;
    padding-left:12px;
    font-size: 14px;
  }


/***************/
/*   Map CSS   */
/***************/

/* map styled w/i mapbox-directive */
/*#map { 
  position:absolute;
  top: 60px;
  bottom:0; 
  width:100%;
  }
*/

/* D3 marker styles */
path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
}

